@font-face {
    font-family: 'CeraPro-Bold';
    src: url('../fonts/CeraPro-Bold.ttf');
}

@font-face {
    font-family: 'CeraPro-Light';
    src: url('../fonts/CeraPro-Light.ttf');
}

body {
    line-height: 27px;
    background-color: #202020;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 30px;
    background-color: #424242;
    border-bottom: 1px solid #252323;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 100;
}

.logo a {
    font-family: 'CeraPro-Bold', sans-serif;
    margin-left: 10px;
    font-size: 25px;
    position: relative;
    top: 9%;
    color: #FFFFFF;

}

a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 3px;
}

nav a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: #b2b2b2;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #282828;
    border-radius: 5px;
    z-index: -1;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 10px;
    background-color: #424242;
    color: #FFFFFF;
}

.user_details_peek {
    width: 250px;
    margin-top: 130px;
    float: left;
    margin-bottom: 10px;
    background-color: #424242;
    color: #FFFFFF;
}

.conversation_mes {
    margin-left: 75px;
    margin-bottom: 30px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details img {
    margin-right: 10px;
    height: 125px;
    border-radius: 50%;
    margin-right: 15px;
}

.main_column {
    float: right;
    width: 68%;
    z-index: -1;
    min-height: 130px;
    /* margin-left: 211px; */
    background-color: #424242;
}

.main-column {
    float: right;
    width: 68%;
    z-index: -1;
    /* min-height: 130px; */
    /* min-height: 110px; */
    background-color: #424242;
    border-radius: 6px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid #5f5f5f;
    font-size: 12px;
    background-color: #424242;
    color: #FFFFFF;
    border-radius: 13px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post_form input[type='submit'] {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
    width: 12%;
    height: 72px;
    border: none;
    border-radius: 6px;
    background-color: #282828;
    position: absolute;
    font-size: 90%;
    outline: none;
    margin: 0;
}

.post_form input[type='submit']:active {
    padding: 5px 4px 4px 5px;
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px 5px 0;
    min-height: 75px;
    max-height: 300px;
}

.post_profile_pic img {
    float: left;
    margin-left: 15px;
    border-radius: 50%;
}

.post_body_item {
    margin-left: 120px;
}

.profile_left {
    margin-left: 30px;
    width: 17%;
    max-width: 180px;
    min-width: 180px;
    height: 300px;
    float: left;
    position: relative;
    background-color: #424242;
    border-radius: 10px;
}

.profile_first_name {
    font-family: 'CeraPro-Bold', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;
    max-width: 180px;
    color: #FFFFFF;
    padding: 15px 20px 0 5px;
}

.profile_left img {
    margin-left: 40px;
    /* align-items: center; */
    margin-left: 15px;
    border-radius: 50%;
    margin-top: 12px;
    /* margin-left: 27px; */
}

.profile_pic_main {
    height: 150px;
    width: 150px;
}

.profile_text {
    font-family: 'CeraPro-Bold', sans-serif;
}

.profile_info {
    float: right;
    width: 70%;
    height: 250px;
    z-index: -1;
    min-height: 120px;
    /* min-height: 110px; */
    background-color: #424242;
    border-radius: 6px;
    margin-bottom: 30px;
}

.profile_info_data {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    float: bottom;
    margin-left: 30px;
}

.profile_data {
    display: flex;
    justify-content: space-between;
    flex-grow: 4;
    align-items: center;
    text-align: center;
    line-height: 20px;
    margin-left: 90px;
    margin-top: -50px;
    height: 10px;
    color: #FFFFFF;
}

.profile_info_data:after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #333333;
    width: 65%;
    right: 3%;
    top: 190px;
} 

.profile_text {
    font-family: 'CeraPro-Bold', sans-serif;
    font-size: 18px;
}

#comment_iframe {
    /* max-width: 800px; */
    height: 300px;
    width: 100%;
    color: #fff;
    border-radius: 12px;
    color: #424242;
    background-color: #FFFFFF;
}

.comment_section {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0 10px 5px 5px;
    border-radius: 4px;
    /* border: 1px solid #FFFFFF; */
    background-color: #424242;
    margin-bottom: 15px;
}

.comment_pic {
    float: left;
    height: 30px;
    border-radius: 50%;
    margin-top: 7px;
}

.posted_name {
    font-family: 'CeraPro-Bold', sans-serif;
    text-decoration: none;
    margin-left: 10px;
    color: #0088cc;
}

.posted_time {
    font-family: 'CeraPro-Light', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 40px;
    margin-top: -8px;
}

.posted_text {
    font-family: 'CeraPro-Medium', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: -6px;
    max-height: 300px;
    max-width: 30px;
}

#comment_form textarea {
    font-family: 'CeraPro-Bold', sans-serif;
    width: 85%;
    height: 31%;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 15px;
    background-color: #424242;
    margin-left: 5px;
    margin-top: 5px;
}

.comment_submit {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
    width: 12%;
    height: 85px;
    border: none;
    border-radius: 6px;
    background-color: #282828;
    position: absolute;
    font-size: 90%;
    outline: none;
    margin: 0;
    margin-top: 5px;
}

.newsfeedPostOptions {
    margin-left: -5px;
    margin-right: 300px;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 18px;
    width: 120px;
}

.comment_like {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #181716;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
}

.like_value {
    display: inline;
    font-size: 14px;
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
}

.noMorePosts {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
}

.nocomennts {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
}

.warning, .danger, .warning, .default, .success, .info, .deep_blue{
    font-family: 'CeraPro-Bold', sans-serif;
    background-color: transparent;
    border-color: #848484;
    font-size: 15px;
    border-radius: 5px;
}

.profile_left input[type="submit"] {
    margin-left: 15px;
    width: 150px;
    /* margin-top: -30px; */
}

.danger {
    color: #e74c3c;
}

.warning {
    color: #f0ad4e;
}

.default {
    color: #bdc7c7;
}

.success {
    margin-top: 25px;
    color: #2ecc71;
}

.info {
    color: #3498db;
}

.deep_blue {
    margin-top: 30px;
    color: #6691fe;
}

.request_title {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    color: #29d1ff;
    align-items: center;
}

.request_send {
    color: #fbfbfb;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#accept_button {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 1px solid #181716;
    width: 110px;
    margin-left: 100px;
}

#ignore_button {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #ff7777;
    background-color: transparent;
    width: 110px;
    margin-left: 10px;
}

.request_pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.request_message {
    margin-top: -73px;
    margin-left: 100px;
}

.modal_header {
    margin-top: 130px;
}

.modal, .modal-footer{
    background-color: #313131;
}

.modal textarea {
    color: #FFFFFF;
    width: 480px;
    background-color: #313131;
    resize: none;
}

.delete_button {
    height: 22px;
    width: 22px;
    font-size: 16px;
    padding: 0;
    float: right;
    right: -15px;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    color: #FFFFFF;
}

.bootbox-body {
    font-family: 'CeraPro-Bold', sans-serif;
    color: #FFFFFF;
}

.upload_picture_text {
    font-family: 'CeraPro-Bold', sans-serif;
}

#message_textarea {
    background: none;
    resize: none;
    height: 50px;
    color: #FFFFFF;
    width: 80%;
    border-radius: 10px;
    border-color: #5f5f5f;
}

#message_submit {
    height: 50px;
    margin-left: 5%;
    width: 13%;
    border-radius: 10px;
    border-color: #ababab;
}

.message {
    border-radius: 5px;
    display: inline-block;
    padding: -8px -20px;
    color: #FFFFFF;
}

.message#blue {
    background-color: #3498db;
    border-color: #FFFFFF;
    float: right;
    min-height: -11px;
    padding: 0px 3px;
}

.message#green {
    background-color: #155245;
    float: left;
    min-height: -11px;
    padding: 0px 3px;
}

.scrollable-element {
    scrollbar-color: dark;
  }

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(86, 86, 86);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: none;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);
    border-radius: 20px;
  }

  .loaded_messages {
      height: 65%;
      min-height: 300px;
      max-height: 400px;
      overflow: scroll;
      margin-bottom: 10px;
  }

  .loaded_conversations {
      max-height: 155px;
      overflow: scroll;
  }

  .user_found_messages {
      border-bottom: 1px solid #FFFFFF;
      padding: 8px 8px 50px 8px;
      margin-bottom: 10px;
      color: #FFFFFF;
  }

  .user_found_messages:hover {
      background-color: #FFFFFF;
  }

  .user_found_messages img {
      height: 30px;
      float: left;
      color: #FFFFFF;
  }

  #grey {
      color: #8C8C8C;
  }

  .resultDisplay {
      padding: 5px 5px 0 5px;
      height: 60px;
      border-bottom: 1px solid #D3D3D3;
      color: #FFFFFF;
  }

  .resultDisplay a {
      float: none;
      color: #FFFFFF;
  }

  .resultDisplay:hover {
      background-color: #404040;
  }

  .liveSearchProfilePic img {
      height: 50px;
      border-radius: 50%;
      margin: 1px 12px 0 2px;
      float: left;
  }

  .liveSearchText {
      margin-bottom: 30px;
  }

  .liveSearchText p {
      margin-left: 10px;
      font-size: 12px;
      color: #FFFFFF;
  }